@page
@model IndexModel
@{
    ViewData["Title"] = "AZ-204 Practice Appp";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure AZ-204 Practice Appp</h1>
    <p>This is great app for practice purposes!</p>
</div>
